<button class="btn btn-primary" data-toggle="tooltip" title="Home page">
    <a href="{{ path("product_views") }}">
        <span class="glyphicon glyphicon-home"></span>
    </a>
</button>

<button class="btn btn-primary" data-toggle="tooltip" title="Dashboard">
    <a href="{{ path("admin_dashboard") }}">
        <span class="glyphicon glyphicon-wrench"></span>
    </a>
</button>
