{% extends "::dashboard.html.twig" %}

{% block dashboard_title %}{{ parent() }}Top 5 Users{% endblock dashboard_title %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ include("UserBundle:User:toolbar.html.twig") }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="title title-1">Top 5 Users</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if users is empty %}
                <p>Still no comments have been made.</p>

            {% else %}
                <table class="table table-striped">
                    <tr>
                        <th>User ID</th>
                        <th>Comment count</th>
                    </tr>
                    {% for user in  users %}
                        <tr>
                            <td>{{ user.author_id }}</td>
                            <td>{{ user.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock body %}
